{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome vayyar Parking Lot{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method = "POST" action = "/search">
    <label> Enter the blocked car number </label> <br/>
        <div class="field">
            <div class="control">
                <input class="input is-primary" type="number" placeholder="blockedCarNumber" name = "BlockedCarNum" id = "BlockedCarNum">
            </div>
        </div>
      <button class = "btn main-btn" type = "submit" name = "notify">notify blocked car owner</button>
  </form>
  <a href="{{ url_for('auth.register') }}"><button class = "btn main-btn" type = "submit" name = "goto_signup_page">change user/using a new car?</button></a>

{% endblock %}