{% extends 'base.html' %}


{% block content %}

<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" method="POST" action="/sign">
            <span class="contact100-form-title">
                Gain access to Vayyar's Parking Lot
            </span>

            {% with messages = get_flashed_messages() %}
            {% if messages is not none %}
            <div class="label-error100">
                {% for message in messages %}
                {% if message|string != "None" %}
                &#128553
                {{ message }}
                &#128529
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}


            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">Name and Surname</span>
                <input class="input100" type="text" name="username" id="username" placeholder="Full Name"
                       onfocusout="gen_mail()" required>
                <!--value="{{username}}"-->
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <span class="label-input100">Email</span>
                <input class="input100" type="email" name="mail" id="mail" placeholder="Email.example@vayyar.com"
                       data-error-message="Bruh, that email address is invalid" value="{{mail_add}}"
                       required>
                <!--value="{{mail}}"-->
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">Phone Number</span><br>
                <div for="phone" class="input100" style="float: left; width: 10%; height:40px; text-align: center;
                margin-top: 2.5%;">05</div>
                <input class="column input100" type="tel" style="width: 90%; float: left; padding: 0" maxlength="8"
                           inputmode="numeric" pattern="[0-9]*"
                           name="phone" id="phone"
                           placeholder="X-XXX-XXXX" required><br>

                    <!--value="{{phone}}"-->
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">Enter Your Car Plate Number</span>
                <input class="input100" type="number" name="carNumber" id="carNumber" placeholder="MyCarNumber"
                       required><!--value="{{carNumber}}"-->
                <span class="focus-input100"></span>
            </div>

            {% if admin %}
            <div class="wrap-input100 input100-select">
                <span class="label-input100">User type</span>
                <div>
                    <select class="selection-2" name="user_type">
                        <option value=0 selected>Regular User</option>
                        <option value=1>Admin</option>
                    </select>
                </div>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <!--                <div>-->
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn" type="submit" name="user_full_data" id="user_full_data">
							<span>
								Add User
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
                    </button>
                </div>
                <!--                </div>-->

            </div>
            {% else %}
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn" type="submit" name="send_full_data" id="send_full_data" style="">
							<span style="margin-top:2%">
								Send Join Request!
                                <p style="color: white;">HR will review the registration form beforehand</p>
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
                    </button>
                </div>
            </div>
            {% endif %}

        </form>
    </div>
</div>
<script>
    (new URL(window.location.href)).searchParams.forEach((x, y) =>
    document.getElementById(y).value = x);






</script>

<a href="/">
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <h4 class="modal-title">Awesome!</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">{{regMSG}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block">OK, continue</button>
                </div>
            </div>
        </div>
    </div>
</a>

{% if regMSG !=None %}
<script>
        $("#myModal").modal()






</script>
{% endif %}

<script>
function getParam(name)
{
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
Webflow.push(function() {

  // Auto-populate form fields (text fields only) based on query string
  // For non-text fields like dropdown/radio/checkbox, please contact me for custom development (http://webflowexpert.com)
  $('input:text, input[type=email]').each(function() {
    var paramValue = getParam(this.id);
    if(this.value == "" && paramValue != "") this.value = paramValue;
  });

});

function phoner(phone_n)
{
    phone_n = phone_n.substr(0,1)
}



</script>
<script>
        var mail_in = document.getElementById("mail");
        var full_name = document.getElementById("username");

        function gen_mail() {
            mail_in.value = full_name.value.replace(' ', '.')+"@vayyar.com"
        }

</script>
<script>
        var full_name = document.getElementById("username");
        full_name.value = {{mail_add}}.replace("@vayyar.com", '')
        full_name.value = full_name.value.replace('.', ' ')
</script>
{% endblock %}


